.my-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.5s !important;
    border: 5px solid #ddd;
    margin-bottom: 50px;
}

.my-avatar:hover {
    transform: rotate(360deg);
}